
:root {
  font-size: 1rem;
  font-family: sans-serif;
  --main-hue: 200;
  --main-block-width: 90%;
  --main-block-margin: 2% auto;
  --main-block-padding: 2%;
}

// SCSS-Variablen
$main-hue: 200;
$main-block-width: 90%;
$main-block-margin: 2% auto;
$main-block-padding: 2%;
$font-main: sans-serif;
